/* 도움말:
 * 텍스트 그림자 - x축 y축 블러_크기 색상
 * 도형 그림자 - x축 y축 블러_크기 사이즈_크기 색상
 */

/* Font Setting */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    z-index: 1;
}

/* Header */
.head {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.15);
}

.header {
    margin: 0 auto;
    padding: 8px 0;
    display: block;
    width: 1080px;
    height: 50px;
    align-content: center;
}

.menu1, .menu2, .menu3, .menu4, .icon {
    width: 210px;
    height: 32px;
    display: inline-block;
    text-align: center;
    transition-duration: .25s;
    transition-timing-function: ease;
}

.icon {
    position: relative !important;
    top: 13px;
}

.menu1:hover, .menu2:hover, .menu3:hover, .menu4:hover {
    font-weight: 600;
}

/* body */
.body {
    height: 5000px;
}