/*
 * -- MARGIN --
 */

.mg-auto { margin: 0 auto !important; }

/*
 * -- PICTURE --
 */

/* Picture Size */

.img-sp-25 { height: 25%; width: auto; !important; }
.img-sp-50 { height: 50%; width: auto; !important; }
.img-sp-75 { height: 75%; width: auto; !important; }
.img-sp-100 { height: 100%; width: auto; !important; }

/*
 * -- TEXT --
 */

/* text weight */

.txt-300 { font-weight: 300; }
.txt-400 { font-weight: 400; }
.txt-500 { font-weight: 500; }
.txt-600 { font-weight: 600; }
.txt-700 { font-weight: 700; }
.txt-800 { font-weight: 800; }

/* text size */

.txt-0 { font-size: 0 !important; }
.txt-12 { font-size: 12px !important; }
.txt-14 { font-size: 14px !important; }
.txt-16 { font-size: 16px !important; }
.txt-18 { font-size: 18px !important; }
.txt-21 { font-size: 21px !important; }
.txt-24 { font-size: 24px !important; }
.txt-30 { font-size: 30px !important; }
.txt-36 { font-size: 36px !important; }
.txt-48 { font-size: 48px !important; }
.txt-60 { font-size: 60px !important; }

/* text color */

.txt-white { color: #fff !important; }
.txt-black { color: #000 !important; }
.txt-navy { color: #3b4450 !important; }
.txt-darknavy { color: #0d1b25 !important; }
.txt-blue { color: #3f80de !important; }
.txt-sky { color: #42A8EA !important; }
.txt-cyan { color: #00b2cb !important; }
.txt-purple { color: #9966cc !important; }
.txt-red { color: #ff5246 !important; }
.txt-yellow { color: #ffdc00 !important; }
.txt-grass { color: #87b758 !important; }
.txt-green { color: #37c48a !important; }
.txt-orange { color: #ff855f !important; }
.txt-velvet { color: #c11e5c !important;}
.txt-pink { color: #e86dab !important; }
.txt-brown { color: #91694d !important; }

/* text decoration */

.txt-nodeco { text-decoration: none !important;}
.txt-underline { text-decoration: underline;}
.txt-overline { text-decoration: overline;}
.txt-throughline { text-decoration: line-through;}

/* text position */

.v-middle { vertical-align: middle; }
.v-top { vertical-align: top; }
.v-base { vertical-align: baseline; }

.txt-center { text-align: center; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }